[database]
# Two simple items for SQLLite Configuration
type = sqlite
filename = nati.db

# The following are for using a MariaDB/MySQL server
host = localhost
name = nati
port = 3306
uid = your_user
pwd = your_pass
